# ==============================
# Raw Dataset Files
# ==============================

# Google Cluster Data
data/raw/

# Compressed datasets
*.json.gz
*.csv.gz
*.zip

# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/

# Environment variables / secrets
.env

# ==============================
# IDE / Editor Files
# ==============================

.vscode/
.idea/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
